In [3]:
import numpy as np
import pandas as pd 
import os
import pycountry

In [4]:
ski_resort = pd.read_csv("../European_Ski_Resorts.csv", low_memory=False)

In [5]:
ski_resort.info()
ski_resort.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         376 non-null    int64
 1   Resort             376 non-null    object
 2   Country            376 non-null    object
 3   HighestPoint       376 non-null    int64
 4   LowestPoint        376 non-null    int64
 5   DayPassPriceAdult  376 non-null    int64
 6   BeginnerSlope      376 non-null    int64
 7   IntermediateSlope  376 non-null    int64
 8   DifficultSlope     376 non-null    int64
 9   TotalSlope         376 non-null    int64
 10  Snowparks          376 non-null    object
 11  NightSki           376 non-null    object
 12  SurfaceLifts       376 non-null    int64
 13  ChairLifts         376 non-null    int64
 14  GondolaLifts       376 non-null    int64
 15  TotalLifts         376 non-null    int64
 16  LiftCapacity       376 non-null    int64
 17  SnowCannons        376 non-null    int64
dtypes: int64(14), object(4)
memory usage: 53.0+ KB

,Unnamed: 0,Resort,Country,HighestPoint,LowestPoint,DayPassPriceAdult,BeginnerSlope,IntermediateSlope,DifficultSlope,TotalSlope,Snowparks,NightSki,SurfaceLifts,ChairLifts,GondolaLifts,TotalLifts,LiftCapacity,SnowCannons
0,1,Alpendorf (Ski amedé),Austria,1980,740,52,30,81,4,115,Yes,No,22,16,11,49,75398,600
1,2,Soldeu-Pas de la Casa/​Grau Roig/​El Tarter/​C...,Andorra,2640,1710,47,100,77,33,210,Yes,Yes,37,28,7,72,99017,1032
2,3,Oberau (Wildschönau),Austria,1130,900,30,1,0,1,2,No,No,2,0,0,2,1932,0
3,4,Dachstein West,Austria,1620,780,42,15,33,3,51,Yes,Yes,25,8,3,36,32938,163
4,5,Rosa Khutor,Southern Russia,2320,940,22,30,26,21,77,Yes,No,6,11,10,27,49228,450
5,6,Białka Tatrzańska-Kotelnica-​Kaniówka-​Bania,Poland,910,680,23,12,3,0,16,Yes,Yes,7,1,0,8,28020,0
6,7,Vitosha-Sofia,Bulgaria,2290,726,18,12,6,2,20,No,Yes,8,5,2,15,12450,0
7,8,Szczyrk-Skrzyczne,Poland,1257,524,20,22,7,4,35,No,No,11,4,1,16,22500,0
8,9,Jahorina,Bosnia and Herzegovina,1889,920,20,3,19,3,25,No,Yes,5,5,1,11,16230,0
9,10,Kobla-Bohinj,Slovenia,1480,540,22,12,10,1,23,No,No,3,3,0,6,5720,30

In [6]:
ski_duplicates = ski_resort.duplicated().sum()
print(f"Numero di duplicati nel dataframe: {ski_duplicates}")

Numero di duplicati nel dataframe: 0

In [7]:
ski_resort.describe()

,Unnamed: 0,HighestPoint,LowestPoint,DayPassPriceAdult,BeginnerSlope,IntermediateSlope,DifficultSlope,TotalSlope,SurfaceLifts,ChairLifts,GondolaLifts,TotalLifts,LiftCapacity,SnowCannons
count,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000
mean,188.500000,2051.688830,1055.098404,40.779255,35.869681,38.348404,11.776596,86.257979,13.662234,9.340426,3.954787,26.957447,34727.244681,218.361702
std,108.686092,776.719908,423.604310,12.474259,53.719832,49.691136,17.785780,113.740218,14.438661,12.595282,6.565411,31.038957,45955.042689,406.903529
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,94.750000,1550.000000,779.250000,34.000000,8.000000,9.000000,2.000000,25.000000,5.000000,2.000000,0.000000,10.000000,10642.500000,0.000000
50%,188.500000,2104.000000,1050.000000,42.000000,19.000000,22.000000,5.000000,48.000000,9.000000,5.000000,2.000000,17.000000,19031.500000,54.000000
75%,282.250000,2567.500000,1350.000000,49.000000,40.000000,42.250000,13.000000,100.000000,17.000000,10.000000,5.000000,29.250000,36555.500000,252.000000
max,376.000000,3899.000000,2180.000000,81.000000,312.000000,239.000000,103.000000,600.000000,89.000000,74.000000,40.000000,174.000000,252280.000000,2383.000000

In [8]:
# Ripulisco dalla prima colonna
ski_resort = ski_resort.drop(columns=["Unnamed: 0"])
ski_resort.head(10)

,Resort,Country,HighestPoint,LowestPoint,DayPassPriceAdult,BeginnerSlope,IntermediateSlope,DifficultSlope,TotalSlope,Snowparks,NightSki,SurfaceLifts,ChairLifts,GondolaLifts,TotalLifts,LiftCapacity,SnowCannons
0,Alpendorf (Ski amedé),Austria,1980,740,52,30,81,4,115,Yes,No,22,16,11,49,75398,600
1,Soldeu-Pas de la Casa/​Grau Roig/​El Tarter/​C...,Andorra,2640,1710,47,100,77,33,210,Yes,Yes,37,28,7,72,99017,1032
2,Oberau (Wildschönau),Austria,1130,900,30,1,0,1,2,No,No,2,0,0,2,1932,0
3,Dachstein West,Austria,1620,780,42,15,33,3,51,Yes,Yes,25,8,3,36,32938,163
4,Rosa Khutor,Southern Russia,2320,940,22,30,26,21,77,Yes,No,6,11,10,27,49228,450
5,Białka Tatrzańska-Kotelnica-​Kaniówka-​Bania,Poland,910,680,23,12,3,0,16,Yes,Yes,7,1,0,8,28020,0
6,Vitosha-Sofia,Bulgaria,2290,726,18,12,6,2,20,No,Yes,8,5,2,15,12450,0
7,Szczyrk-Skrzyczne,Poland,1257,524,20,22,7,4,35,No,No,11,4,1,16,22500,0
8,Jahorina,Bosnia and Herzegovina,1889,920,20,3,19,3,25,No,Yes,5,5,1,11,16230,0
9,Kobla-Bohinj,Slovenia,1480,540,22,12,10,1,23,No,No,3,3,0,6,5720,30

In [9]:
# Conteggio dei valori unici nella colonna 'Country'
unique_countries = ski_resort['Country'].nunique()
print(f"Paesi unici nel dataframe: {unique_countries}")

Paesi unici nel dataframe: 27

In [10]:
# Conteggio dei record per ogni paese 
cont = ski_resort['Country'].value_counts()
cont

Country
Austria                   89
France                    83
Switzerland               61
Italy                     44
Germany                   24
Norway                    10
Spain                      8
Denmark                    8
Sweden                     6
Andorra                    5
Slovakia                   5
Slovenia                   4
United Kingdom             4
Bulgaria                   4
Southern Russia            4
Finland                    3
Poland                     2
Czech Republic             2
Romania                    2
Lithuania                  1
Liechtenstein              1
Serbia                     1
Greece                     1
Siberia                    1
Bosnia and Herzegovina     1
Ukraine                    1
Netherlands                1
Name: count, dtype: int64

In [11]:
# Crea una cartella temporanea per salvare i file CSV per ogni paese
output_folder = "./resorts_by_country"
os.makedirs(output_folder, exist_ok=True)

# Per ogni paese, salva un file CSV con i suoi record
for country, group in ski_resort.groupby("Country"):
    # Sostituisce eventuali caratteri problematici nel nome file
    safe_country = country.replace(" ", "_").replace("/", "_")
    file_path = os.path.join(output_folder, f"{safe_country}.csv")
    group.to_csv(file_path, index=False)

In [14]:
# Conta quanti resort ci sono per ciascun paese (per nome)
resort_counts = ski_resort['Country'].value_counts().reset_index()
resort_counts.columns = ['country_name', 'resorts_count']

#Funzione per ottenere il codice ISO A2 (IT, FR, etc.)
def get_country_code(name):
    try:
        return pycountry.countries.lookup(name).alpha_2
    except LookupError:
        return None

#Applica la funzione
resort_counts['country_code'] = resort_counts['country_name'].apply(get_country_code)

#Rimuovi righe con country_code mancante
resort_counts = resort_counts.dropna(subset=['country_code'])

# Rimuovo la colonna country_name
resort_counts.drop(columns=['country_name'], inplace=True)

# Aggiungo manualmente la russia
new_row = {
    'country_code': 'RU',     # codice del nuovo paese
    'resorts_count': 4        # numero di resort nel paese
}

resort_counts.loc[len(resort_counts)] = new_row


#Salva il file finale
resort_counts[['country_code', 'resorts_count']].to_csv("resorts.csv", index=False)

#Visualizza i primi risultati
resort_counts.head()

   resorts_count country_code
0             89           AT
1             83           FR
2             61           CH
3             44           IT
4             24           DE